html {
  font-size: 16px; /* 1rem = 16px */
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  justify-items: center;
}

.box {
  border: 0.25rem solid white;
  padding: 1rem;
  max-width: 400px;        /* set a maximum width */
  width: 100%;             /* responsive */
  margin: 0 auto;          /* center on screen */
}

